<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roommate.android.broker">

    <application
        android:name=".app.BrokerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".app.SearchActivity"
            />
        <activity android:name=".customer.addcustomer.AddCustomerActivity"
            android:label="@string/activity_addcustomer"
            android:screenOrientation="portrait"/>
        <activity android:name=".app.LoginActivity"
            android:label="@string/activity_login"
            android:screenOrientation="portrait"/>
        <activity android:name=".app.RegisterActivity"
            android:label="@string/activity_register"
            android:screenOrientation="portrait"/>
    </application>

</manifest>