<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roommate.android.broker">

    <!-- 读联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <!--xUtils 配置  开始-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--xUtils 配置  结束-->



    <!-- 百度移动统计 需要申明的权限 开始-->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--<uses-permission android:name="android.permission.BLUETOOTH" />&lt;!&ndash;蓝牙为手表统计必填&ndash;&gt;-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 百度移动统计 需要申明的权限 结束-->


    <application
        android:name=".common.core.BrokerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppStartLoad">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".customer.list.BrokerActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".customer.searchCustomer.SearchCustomerActivity"
            />
        <activity android:name=".user.SettingActivity"
            android:label="@string/activity_settings"
            android:screenOrientation="portrait"/>
        <activity android:name=".user.ModPwdActivity"
            android:label="@string/activity_userinfo"
            android:screenOrientation="portrait"/>
        <activity android:name=".customer.AddEditCustomerDetail.AddEditCustomerActivity"
            android:label="@string/activity_addcustomer"
            android:screenOrientation="portrait"/>
        <activity android:name=".user.LoginActivity"
            android:label="@string/activity_login"
            android:screenOrientation="portrait"/>
        <activity android:name=".user.RegisterActivity"
            android:label="@string/activity_register"
            android:screenOrientation="portrait"/>
        <activity android:name=".AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_about"/>
        <activity android:name=".customer.fitter.FitterCustomersActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_fitterdate"/>

        <!--广播  开始  -->
        <receiver android:name=".BrokerBroadcastReceiver">
            <intent-filter android:priority="90000">
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <!--广播  结束  -->

        <!--通知服务开始-->

        <service android:name=".customer.push.PushCustomerService">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>

        <!--通知服务结束-->


        <!-- 您从百度网站获取的APP KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="10ff871376" /> <!-- 10ff871376 -->

        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="${BAIDU_CHANNEL_VALUE}" />

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->

        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />

        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />

    </application>

</manifest>