body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:100px;
  width:320px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:100px;
  width:320px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:238px;
  top:117px;
  width:53px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:100px;
  top:150px;
  width:320px;
  height:90px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
}
#u7 {
  position:absolute;
  left:2px;
  top:37px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:293px;
  top:160px;
  width:87px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:128px;
  top:160px;
  width:74px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:293px;
  top:202px;
  width:87px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:370px;
  top:110px;
  width:26px;
  height:26px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u15 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:100px;
  top:530px;
  width:320px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:144px;
  top:535px;
  width:26px;
  height:26px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u19 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:247px;
  top:535px;
  width:26px;
  height:26px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u21 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:348px;
  top:535px;
  width:26px;
  height:26px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u23 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:144px;
  top:560px;
  width:27px;
  height:16px;
  color:#000000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:247px;
  top:561px;
  width:27px;
  height:16px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:349px;
  top:561px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
