body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:100px;
  width:320px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:100px;
  width:320px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:230px;
  top:118px;
  width:53px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:100px;
  top:150px;
  width:320px;
  height:63px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:63px;
}
#u7 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:121px;
  top:168px;
  width:40px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:119px;
  top:190px;
  width:58px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:322px;
  top:168px;
  width:78px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:234px;
  top:190px;
  width:53px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:353px;
  top:190px;
  width:41px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:100px;
  top:212px;
  width:320px;
  height:63px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:63px;
}
#u19 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:121px;
  top:228px;
  width:40px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:119px;
  top:250px;
  width:58px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:322px;
  top:228px;
  width:78px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:234px;
  top:250px;
  width:53px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:353px;
  top:252px;
  width:41px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:119px;
  top:112px;
  width:26px;
  height:26px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u31 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
