body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:100px;
  width:320px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:530px;
  width:320px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:144px;
  top:535px;
  width:26px;
  height:26px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u5 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:247px;
  top:535px;
  width:26px;
  height:26px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u7 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:348px;
  top:535px;
  width:26px;
  height:26px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u9 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:144px;
  top:560px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:247px;
  top:561px;
  width:27px;
  height:16px;
  color:#000000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:349px;
  top:561px;
  width:27px;
  height:16px;
  color:#000000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:100px;
  top:100px;
  width:320px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:233px;
  top:116px;
  width:53px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:371px;
  top:111px;
  width:26px;
  height:26px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u21 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:112px;
  top:111px;
  width:26px;
  height:26px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u23 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:100px;
  top:149px;
  width:320px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:128px;
  top:161px;
  width:27px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:246px;
  top:161px;
  width:27px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:358px;
  top:161px;
  width:27px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:100px;
  top:187px;
  width:320px;
  height:63px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:63px;
}
#u33 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:121px;
  top:204px;
  width:40px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:119px;
  top:226px;
  width:58px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:322px;
  top:204px;
  width:78px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:234px;
  top:226px;
  width:53px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:353px;
  top:227px;
  width:41px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:410px;
  top:161px;
  width:200px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u45 {
  position:absolute;
  left:611px;
  top:147px;
  width:69px;
  height:36px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:344px;
  top:460px;
  width:50px;
  height:50px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u48 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
